<!DOCTYPE html>
<html>
<head>
    <title>Alerts</title>
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">
    <p>
        Hello!
        <br><br>
        This notification is for your OpenShift managed cluster running OpenShift Data Federation.
        <br><br>
        <strong>
            Am Waiting.....
        </strong>
        <br>
        If you have any questions, please <a clicktracking=off href="https://access.redhat.com/support/contact/technicalSupport/">contact us</a>. Review the <a clicktracking=off href="https://access.redhat.com/support/policy/support_process">support process</a> for guidance on working with Red Hat support.
        <br><br>
        Thank you for choosing Red Hat OpenShift Data Foundation,
        <br>
        ODF SRE
    </p>
</body>
</html>
